<mat-accordion>
  <mat-expansion-panel *ngFor="let user of users | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ user.name }} <{{user.email}}>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Birth date: {{user.birthDate | date }}</p>
    <p>Address: {{user.address.street}}</p>
    <p>City: {{user.address.city}}</p>
    <p>Zip code: {{user.address.zip}}</p>
    <p>State: {{user.address.state}}</p>
    <p>Country: {{user.address.country}}</p>
  </mat-expansion-panel>
</mat-accordion>
