<h1>Users</h1>

<a mat-raised-button color="primary" class="c-users__new-button" routerLink="new">Add new user</a>

<mat-accordion>
  <mat-expansion-panel *ngFor="let user of users$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ user.name }} <{{user.email}}>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Birth date: {{user.birthDate | date: 'd/M/yyyy' }}</p>
    <p>Address: {{user.address.street}}</p>
    <p>City: {{user.address.city}}</p>
    <p>Zip code: {{user.address.zip}}</p>
    <p *ngIf="user.address.state">State: {{ user.address.state | state }}</p>
    <p>Country: {{user.address.country}}</p>
    <a mat-raised-button color="accent" [routerLink]="['edit', user.id]">Edit</a>
  </mat-expansion-panel>
</mat-accordion>
